<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">All Categories</a></li>
                    <li><a href="#">ELEKTRONİK</a></li>
                    <li><a href="#">LAPTOP</a></li>
                    <li class="active">ASUS ROG STRIX</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/asus/thumb/TeoriV2-97193-4_small.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product08.png" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <!-- <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div class="product-preview">
                        <img src="https://cdn.vatanbilgisayar.com/Upload/PRODUCT/asus/thumb/TeoriV2-97193-4_small.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product03.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product06.png" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="./img/product08.png" alt="">
                    </div>
                </div>
            </div> -->
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name"> ASUS ROG STRIX G15 G512 CORE İ7 10750H 2.6GHZ-8GB-512GB-15.6"-GTX1660TI 6GB-W10 </h2>
                    <div>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" href="#">10 Review(s) | Add your review</a>
                    </div>
                    <div>
                        <h3 class="product-price">TRY940.99 <del class="product-old-price">TRY940.99</del></h3>
                        <span class="product-available">In Stock</span>
                    </div>
                    <p>ROG Strix G15 ciddi oyun ve çoklu görev için müthiş bir çekirdek deneyimi sunan aerodinamik tasarımı bünyesinde barındırıyor. En yeni 10.Nesil Intel® Core ™ i7 CPU'ya ve bir GeForce GTX 1660Ti GPU'ya sahip, yüksek hızlı 144Hz ,ekran ile avantaj sağlayan yüksek FPS gücü sunar. Sıvı metal gibi akıllı soğutma yenilikleri performansı başka bir seviyeye taşıyor. Ultra hızlı Wi-Fi 6 bağlantısı ve RAID 0'da çalışan 2 adede kadar SSD, çalışmayı ve oyunu hızlandırır. Üçüncü bir SSD alanı, oyun koleksiyonunuzu gittiğiniz her yere taşımak için depolama alanınızı yükseltebileceğiniz anlamına gelir.</p>

                    <div class="add-to-cart">
                        
                        <button (click)="addToCart()"  class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="#">ELEKTRONİK</a></li>
                        <li><a href="#">LAPTOP</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>

                </div>
            </div>
            <!-- /Product details -->

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">Loading...</p>
  </ngx-spinner>